body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 5%;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1000px;
  text-align: center;
  margin: auto; 
}

header, footer {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

#search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 70%;
  max-width: 300px; 
}

button {
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#weather, #error {
  margin-top: 20px;
  text-align: left;
}

#error {
  color: red;
}

footer {
  font-size: 0.9em;
  color: #555;
}

.current-weather-container{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.current-weather-container > * {
  margin: 10px;
  flex: 1 1 300px; 
  max-width: 100%; 
}

.forecast-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  margin-top: 20px;
}

.forecast-day, .current-weather {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  margin: 10px;
  flex: 1 1 300px; 
  max-width: calc(50% - 20px); 
}

.forecast-day img {
  width: 50px;
  height: 50px;
}
